.carrousselImg{
    width: 80%;
}
.learnMoreBtn{
    border: 1px solid #0bc1d8;
    border-radius: 10%;
    background-color: #0bc1d8;
}

.ngb-carousel .carousel-control-prev,
.ngb-carousel .carousel-control-next {
  background-color: #0bc1d8; /* Change this to the desired background color */
}