<section id="banner">
    <div class="content">
        <header>
            <h2>Solution Bâtiment Pro</h2>
            <p>Solution Bâtiment Pro est la société qui répondra à vos attentes en terme de rénovation énergétique</p>
        </header>
        <div class="dashboard-button">
            <button type="button" class="btn btn-primary">Contact</button>
            <button type="button" class="btn btn-light">En savoir plus</button>
        </div>
        <span class="image"><img src="../../assets/images/logo-web.jpg" alt="" /></span>
    </div>
    <a href="#one" class="goto-next scrolly">Next</a>
</section>
